.footer {
    background-color: darken($secondary, 20);
    & .container {
        gap: 120px;
    }
    &__card {
        & h3 {
            color: white;
            font-weight: bold;
        }
        & li {
            color: lighten($secondary, 20);
            list-style-type: none;
            font-size: 1.1em;
            margin-bottom: 20px;
            margin-left: -30px;
        }
    }
    
}

.subFooter {
    background-color: darken($secondary, 23);
    font-size: 1.1em;
    & p {
        color: lighten($secondary, 20);
    }
    & span {
        color: white;
    }
}